@model ViewProduto

@{
    ViewData["Title"] = "Produtos";
}

<script>

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>

<h2>Produtos</h2>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>

@Html.Partial("Produto", Model.Produto)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Descricao)
            </th>
            <th align="right">
                @Html.DisplayNameFor(model => model.Produto.Qtd)
            </th>
            <th align="right">
                @Html.DisplayNameFor(model => model.Produto.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProdutosList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Qtd)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a>
                    <a class="btn btn-primary btn-sm" 
                       onclick="Edit('@Url.Action("AddOrEdit", "Produtos", new { id=@item.Id})')">
                                <i class="fa fa-pencil fa-lg"></i>
                    </a>
                </td>
            </tr>
        }
        <!-- Button trigger modal -->
        @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Launch demo modal
            </button>
        *@
</table>

<script type="text/javascript">
    $("#btnSave").click(function () {
        $.post("/Produtos/Edit", $("#formEdit").serialize()
        );
    });
</script>