@model IEnumerable<GestaoCustoBusiness.Model.Ingrediente>

@{
    ViewData["Title"] = "Rceita";
}

<h2>@ViewBag.Receita</h2>
<p>
    <a asp-action="Create" asp-route-id="@Context.Request.Query["receita"].ToString()">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                Qtd. Embalagem
            </th>
            <th>
                Pre&ccedil;o
            </th>
            <th>
                Qtd. Usado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-controller="Produtos" asp-action="Edit" asp-route-id="@item.Id" asp-route-receita="@Context.Request.Query["receita"].ToString()">
                        @Html.DisplayFor(modelItem => item.Produto.Descricao)
                    </a>
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Produto.Qtd)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Produto.Preco)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Custo)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <strong>
                    Total:
                </strong>
            </td>
            <td align="right">
                <strong>
                    @Model.Sum(m => m.Custo).ToString("n2")
                </strong>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <strong>
                    Qtd. Por&ccedil;&otilde;es:
                </strong>
            </td>
            <td align="right">
                <strong>
                    @Model.First().Receita.Qtd.ToString("n0")
                </strong>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <strong>
                    Pre&ccedil;o por por&ccedil;&atilde;o:
                </strong>
            </td>
            <td align="right">
                <strong>
                    @Model.First().Receita.CustoUnitario.ToString("n2")
                </strong>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-controller="Receitas" asp-action="Index">Voltar para lista de receitas</a>
</div>
