@model IEnumerable<GestaoCustoBusiness.Model.Receita>
@{
    ViewData["Title"] = "Receitas";
}

<h2>Receitas</h2>

<p>
    <a asp-action="Create">Nova receita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoTotal)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoTotal)
            </td>
            <td>
                <a asp-controller="Ingredientes" asp-action="Create" asp-route-id="@item.Id">Adicionar</a> |
                <a asp-controller="Ingredientes" asp-action="Index" asp-route-receita="@item.Id">Visualizar</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
    }
</tbody>
</table>
