@model IEnumerable<GestaoCustoBusiness.Model.Receita>
@{
    ViewData["Title"] = "Receitas";
}

<h2>Receitas</h2>

<p>
    <a asp-action="Create">Nova receita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th align="right">
                @Html.DisplayNameFor(model => model.CustoTotal)
            </th>
            <th align="right">
                @Html.DisplayNameFor(model => model.Qtd)
            </th>
            <th align="right">
                @Html.DisplayNameFor(model => model.CustoUnitario)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="column-buttons-3">
                    <a asp-controller="Ingredientes" asp-action="Create" asp-route-id="@item.Id">
                        <span class="glyphicon glyphicon-plus icon-new"  aria-hidden="true"></span>
                    </a>
                    <a asp-controller="Ingredientes" asp-action="Index" asp-route-receita="@item.Id">
                        <span class="glyphicon glyphicon-pencil icon-edit" aria-hidden="true"></span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <span class="glyphicon glyphicon-remove icon-remove" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </a>
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.CustoTotal)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Qtd)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.CustoUnitario)
                </td>
            </tr>
        }
    </tbody>
</table>
